@charset "utf-8";
#mapscontainer {
	display: grid;
	grid-template-columns: 47.5% 5% 47.5%;
	grid-gap: 7px;
	padding: 10px;
}

#datacontainer {
	display: grid;
	grid-template-columns: 47.5% 5% 47.5%;
	grid-gap: 7px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}

#USA, #JPN {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#USA {
	text-align: right;
}
#JPN {
	text-align: left;
}

.row {
	display: flex;
	justify-content: flex-end;
}

.column {
	height: 25%;
	padding: 5px;
}

table {
	border-spacing: 10px 0px;
	padding-top: 10px;
}

.mapcontainer {
	border: 1px solid black;
}

.map {
	width: 100%;
	height: 65vh;
}

.mapheader {
	height: 24px;
}